SurfaceCalculator/SurfaceCalculatorClient/Connected Services/ServiceReference1/8000.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8000" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8000" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8000/Imports">
      <xsd:import namespace="http://localhost:8000" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Square_InputMessage">
    <wsdl:part name="parameters" element="tns:Square" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Square_OutputMessage">
    <wsdl:part name="parameters" element="tns:SquareResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Rectangle_InputMessage">
    <wsdl:part name="parameters" element="tns:Rectangle" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Rectangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RectangleResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Triangle_InputMessage">
    <wsdl:part name="parameters" element="tns:Triangle" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Triangle_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriangleResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Circle_InputMessage">
    <wsdl:part name="parameters" element="tns:Circle" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Circle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CircleResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Trapeze_InputMessage">
    <wsdl:part name="parameters" element="tns:Trapeze" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Trapeze_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrapezeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Square">
      <wsdl:input wsaw:Action="http://localhost:8000/ICalculator/Square" message="tns:ICalculator_Square_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/ICalculator/SquareResponse" message="tns:ICalculator_Square_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rectangle">
      <wsdl:input wsaw:Action="http://localhost:8000/ICalculator/Rectangle" message="tns:ICalculator_Rectangle_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/ICalculator/RectangleResponse" message="tns:ICalculator_Rectangle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Triangle">
      <wsdl:input wsaw:Action="http://localhost:8000/ICalculator/Triangle" message="tns:ICalculator_Triangle_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/ICalculator/TriangleResponse" message="tns:ICalculator_Triangle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Circle">
      <wsdl:input wsaw:Action="http://localhost:8000/ICalculator/Circle" message="tns:ICalculator_Circle_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/ICalculator/CircleResponse" message="tns:ICalculator_Circle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Trapeze">
      <wsdl:input wsaw:Action="http://localhost:8000/ICalculator/Trapeze" message="tns:ICalculator_Trapeze_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8000/ICalculator/TrapezeResponse" message="tns:ICalculator_Trapeze_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>