SurfaceCalculator/SurfaceCalculatorClient/Connected Services/ServiceReference1/8000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8000" elementFormDefault="qualified" targetNamespace="http://localhost:8000" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Square">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SquareResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RectangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RectangleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Triangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="h" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TriangleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Circle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CircleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CircleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Trapeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
        <xs:element minOccurs="0" name="h" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrapezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrapezeResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>